.letters {
  position: absolute;
  animation: move-letters-ani 3s linear;
}

@keyframes move-letters-ani {
  from {
    width: 300vw;
    transform: translateX(100vw);
  }
  to {
    width: 100vw;
    transform: translateX(0);
  }
}
