<!DOCTYPE html>
<html lang="ko">
  <head> </head>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <body>
    <h1>์ค์ต ์ฐ์ต</h1>
    <p>์ฌ๊ธฐ๋ Home ์๋๋ค! ๐ก</p>
    <% if(isLogin){ %>
    <p><%=userInfo.nickname%>๋ ํ์ํฉ๋๋ค ๐๐ป</p>
    <img src="/<%=userInfo.data%>" width="200" />
    <button onclick="handleLogout()">๋ก๊ทธ์์</button>
    <% } else{ %>
    <p>๋ก๊ทธ์ธ์ ์์ง ํ์ง ์์ผ์จ๊ตฐ์! ๋ก๊ทธ์ธ์ ์งํํด๋ณด์ธ์!</p>
    <button><a href="/user/login">๋ก๊ทธ์ธ</a></button>
    <% } %>
    <script>
      async function handleLogout() {
        console.log("๋ก๊ทธ์์ ํด๋ฆญ");
        const response = await axios({ method: "post", url: "/user/logout" });
        console.log(response.status);
        if (response.status >= 200 && response.status < 300) {
          alert("๋ก๊ทธ์์ ์ฑ๊ณต");
          document.location.href = "/";
        } else {
          alert("์ด๋ฏธ ์ธ์์ด ๋ง๋ฃ๋์์ต๋๋ค.");
        }
      }
    </script>
  </body>
</html>
