<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      label {
        display: block;
      }
      span {
        display: inline-block;
        width: 80px;
      }
    </style>
    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>회원가입 페이지</h1>
    <form
      action="/my-page"
      method="post"
      enctype="multipart/form-data"
      name="signup-form"
    >
      <label>아이디 <input type="email" name="id" id="id" required /></label>
      <label
        >비밀번호 <input type="password" name="pw" id="pw" required
      /></label>
      <label>이름 <input type="text" name="name" id="name" required /></label>
      <label>나이 <input type="number" name="age" id="age" required /></label>
      <label
        >프로필사진
        <input type="file" name="profileImg" id="profileImg" required
      /></label>
      <button type="button" onclick="inputReset()">리셋</button>
      <button type="submit">사진 업로드</button>
    </form>
    <script>
      function inputReset() {
        const form = document.forms["signup-form"];

        form.id.value = "";
        form.pw.value = "";
        form.name.value = "";
        form.age.value = "";
        form.profileImg.value = "";
      }
    </script>
  </body>
</html>
