$color-body1: rgb(0, 0, 166);
$color-body2: rgb(36, 61, 206);
$color-body3: rgb(52, 118, 231);
$color-body4: rgb(47, 146, 233);
$color-body5: rgb(140, 191, 253);

$color-circle1: pink;
$color-circle2: yellow;
$color-circle3: green;

$color-header: rgb(71, 148, 179);
$color-card: rgb(164, 216, 227);
